// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);

$navbar-default-bg:	#CB5D4B;
$navbar-default-link-color: black;
$font-monkey: Happy Monkey, cursive; 

@import "bootstrap";

nav .navbar-brand {
	font-family: $font-monkey;
}

.panel {
	width: 60%;
}

.navbar-btn {
	margin-left: 10px;
}